/* General */

/* Header*/
header{
    background-color: #000;
    padding-top: 25px;
    padding-bottom: 25px;
}

#logo{
    height: 120px;
    width: auto;
    margin: auto;
}
/* Footer */
.footer{
    background-color: darkgoldenrod;
    color: whitesmoke;
    text-align: center;
    
    bottom: 0;
}
.footer p{
    margin-top: 1rem;
    text-align: center;
}
/* Content */
body{
    background-color: whitesmoke;
    
}
#main{
    background-color: whitesmoke;
    padding-bottom: 60px;
}
#main img{
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
iframe{
    border-radius: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 300px;
}
p{
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
}
hr{
    border-top: 2px solid lightgrey; 
}
h3{
    color: darkorange;
    padding-top: 20px;
    
    text-align: center;
    text-transform: uppercase;
}
h4{
    color: steelblue;
    padding-left: 20px;
    text-transform:capitalize
    
}
h5{
    color: dimgrey;
    padding-left: 20px;
    
}
h6{
    color: darkslategrey;
    padding-left: 20px;
}
.table img{
    display: block;
margin-left: auto;
margin-right: auto;
    height: 200px;
    width:  300px
    
}
#galeria td{
    margin: auto
}
#btnForm{
    margin-top: 20px;
}
a img{
    height: 100px;
}
#btn-submit{
    margin-bottom: 20px;
    margin-top: 20px;
}
#irEncuesta{
    margin: auto;
}
#presentacion p{
    text-align: center;
    font-weight: 500;
    font-size: 18px;
}

