<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Main CSS -->
    <link rel="stylesheet" href="..\style.css">


    <title>SWIM SITE - Tu portal de natación favorito!</title>
  </head>
    <body>
        <header class="sticky-top">
        <div class="container">
            <div class="row">
                <img src="https://i.pinimg.com/originals/48/11/81/4811814896c06656e29ebf81ccd693ad.png" id="logo">
            </div>
        </div>
        <nav class="navbar  navbar-expand-sm bg-dark navbar-dark">
          <ul class="navbar-nav container">
            <li class="nav-item">
                <a class="nav-link" href="..\index.html">INICIO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="natacion.html">QUE ES LA NATACION?</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">BENEFICIOS DE LA NATACION</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">ESTILOS</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="crawl.html">CRAWL</a>
                    <a class="dropdown-item" href="pecho.html">PECHO</a>
                    <a class="dropdown-item" href="espalda.html">ESPALDA</a>
                    <a class="dropdown-item" href="mariposa.html">MARIPOSA</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="competencias.html">VIDEOS DE COMPETENCIAS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="galeria.html">GALERIA DE IMAGENES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contacto">CONTACTO</a>
            </li>
        </ul>
    </nav>
    </header>
        
        
        <div class="container" id="main">
             <h3>Los múltiples beneficios de la natación</h3><hr>
             <p>Es una de las pocas actividades deportivas que se pueden practicar casi a cualquier edad. Tiene múltiples bondades terapéuticas, entrena todos los grupos musculares y mejora la capacidad cardiovascular. Por su fuera poco, ayuda a cuidar el peso y mejora el ánimo.</p>
             
             <img src="https://i.pinimg.com/564x/d9/02/63/d90263ff10ddd605168598d5f035b3bc.jpg">
             <p>La natación es uno de los pocos deportes que puede practicar la mayoría de la gente, sin tener en cuenta la edad. Su principal ventaja es que dentro del agua el impacto sobre las distintas partes de nuestro cuerpo se reduce, minimizando a la vez la exigencia en huesos y articulaciones. El riesgo de lesiones es casi inexistente, salvo que uno haga un mal movimiento o se exceda en el entrenamiento.</p>
            
            <p>A su vez, hay diferentes formas de practicar la natación: es un deporte que se adapta a las necesidades individuales de cada persona. Sus bondades terapéuticas son conocidas y crecientes: ayuda a corregir desviaciones de la columna vertebral (hiperlordósis, hipersifósis, escoliósis, hernias discales, etc), es buena para tratar enfermedades cardiacas y circulatorias, y es beneficiosa en cuadros de artrosis, artritis y obesidad.
            </p>
            <p>Hacer ejercicios en el agua permite una libertad de movimientos que no da el trabajo en seco. El agua permite hacer movimientos y posturas que no se pueden lograr fuera de ella. Y los ejercicios en el agua tienen buenos efectos psicológicos, porque la persona está en un ambiente lúdico, a cierta temperatura, y eso hace que se relaje. Muchas personas que han comenzado a hacer aquagym aseguran haber encontrado ¡el deporte de sus sueños!</p>
            <P>Entre los beneficios de la natación, se destacan:</P>
            <ul>
                <li>Aumenta la resistencia cardiopulmonar.</li>
                <li>Estimula la circulación sanguínea.</li>
                <li>Ayuda a mantener una presión arterial estable.</li>
                <li>Reduce el riesgo de enfermedades cardiovasculares.</li>
                <li>Ayuda a desarrollar y fortalecer la mayor parte de grupos musculares (más de dos tercios de todos los músculos de nuestro cuerpo).</li>
                <li>Fortalece los tejidos articulares previniendo posibles lesiones.</li>
                <li>Facilita la eliminación de secreciones bronquiales.</li>
                <li>Mejora la postura corporal y desarrolla la flexibilidad.</li>
                <li>Alivia tensiones y genera estados de ánimo positivos.</li>
                <li>Ayuda a mejorar estados de ansiedad y aliviar síntomas de depresión.</li>
                <li>Relaja la excesiva tonicidad muscular de la tarea diaria.</li>
            </ul>
            <p>Para disfrutar los beneficios mencionados es muy importante tener en cuenta lo siguiente:</p>
            <ul>
                <li>Hacerse un examen médico antes de comenzar la actividad física para estar seguro que se puede practicar este tipo de ejercicio.</li>
                <li>A cada edad le corresponde una temperatura del agua y del ambiente; para los bebés será distinta que la de los adultos.</li>
                <li>Hidratarse correctamente para evitar problemas de piel.</li>
                <li>La constancia es muy importante para lograr beneficios a largo plazo.</li>
                <li>Higienizarse bien para evitarse infecciones y seguir las recomendaciones higiénico-sanitarias del lugar al que asista.</li>
            </ul>
        </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
  
</html>