<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Main CSS -->
    <link rel="stylesheet" href="..\style.css">


    <title>SWIM SITE - Tu portal de natación favorito!</title>
  </head>
    <body>
        <header class="sticky-top">
        <div class="container">
            <div class="row">
                <img src="https://i.pinimg.com/originals/48/11/81/4811814896c06656e29ebf81ccd693ad.png" id="logo">
            </div>
        </div>
        <nav class="navbar  navbar-expand-sm bg-dark navbar-dark">
          <ul class="navbar-nav container">
            <li class="nav-item">
                <a class="nav-link" href="..\index.html">INICIO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="natacion.html">QUE ES LA NATACION?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="beneficios.html">BENEFICIOS DE LA NATACION</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">ESTILOS</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="crawl.html">CRAWL</a>
                    <a class="dropdown-item" href="pecho.html">PECHO</a>
                    <a class="dropdown-item" href="espalda.html">ESPALDA</a>
                    <a class="dropdown-item" href="mariposa.html">MARIPOSA</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">VIDEOS DE COMPETENCIAS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="galeria.html">GALERIA DE IMAGENES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contacto">CONTACTO</a>
            </li>
        </ul>
    </nav>
    </header>
        <div class="container" id="main">
            <h3>VIDEOS DE COMPETENCIAS</h3>
            <hr>
            <p>En esta sección podrás encontrar material cinemático con los records mundiales de 100m de cada estilo, además de carreras combinadas y relevos. A disfrutar!!!</p>
            <div class="border">
                <h4>100m Libre Femenino</h4>
                   <iframe width="560" height="315" src="https://www.youtube.com/embed/GgK6u_CkTPs?controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <h4>100m Pecho Femenino</h4>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/6_mfkw5OFR4?controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                <h4>100m Espalda Femenino</h4>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/3nTv7p64pQA?controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                <h4>100m Mariposa Femenino</h4>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/W2L12bpUsSs?controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                <h4>200m Combinado Femenino</h4>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/VGjsbtPOB_M?controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                <h4>4x100m Combinado Femenino</h4>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/3IMI3P_NlPk?controls=0&amp;start=237" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
            <div class="border">
                <h4>100m Libre Masculino</h4>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/VO7y41uBdUA?controls=0&amp;start=180" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <h4>100m Pecho Masculino</h4>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/YsGHSe6N06w?controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                <h4>100m Espalda Masculino</h4>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/DC_ObyGbSUs?controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                <h4>100m Mariposa Masculino</h4>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/OjgY6rHXre0?controls=0&amp;start=170" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>

                <h4>200m Combinado Masculino</h4>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/e-XGSYnhUjg?controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <h4>4x100m Combinado Masculino</h4>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/IIm32eEVW98?controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
  
</html>