<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Main CSS -->
    <link rel="stylesheet" href="..\style.css">


    <title>SWIM SITE - Tu portal de natación favorito!</title>
  </head>
    <body>
        <header class="sticky-top">
        <div class="container">
            <div class="row">
                <img src="https://i.pinimg.com/originals/48/11/81/4811814896c06656e29ebf81ccd693ad.png" id="logo">
            </div>
        </div>
        <nav class="navbar  navbar-expand-sm bg-dark navbar-dark">
          <ul class="navbar-nav container">
            <li class="nav-item">
                <a class="nav-link" href="..\index.html">INICIO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="natacion.html">QUE ES LA NATACION?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="beneficios.html">BENEFICIOS DE LA NATACION</a>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">ESTILOS</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="crawl.html">CRAWL</a>
                    <a class="dropdown-item" href="pecho.html">PECHO</a>
                    <a class="dropdown-item active" href="#">ESPALDA</a>
                    <a class="dropdown-item" href="mariposa.html">MARIPOSA</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="competencias.html">VIDEOS DE COMPETENCIAS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="galeria.html">GALERIA DE IMAGENES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contacto">CONTACTO</a>
            </li>
        </ul>
    </nav>
    </header>
        <div class="container" id="main">
            <h3>Estilo espalda</h3><hr>
            
            <p>El estilo espalda o dorsal es un estilo de natación en el que se usan ambos brazos, y la cabeza hacia arriba. Este estilo es esencialmente crol, solo que el nadador flota con la espalda en el agua. La secuencia de movimientos es alternativa: un brazo en el aire con la palma de la mano saliendo afuera desde debajo de la pierna, mientras el otro impulsa el cuerpo en el agua.</p>
            <img src="https://i.pinimg.com/564x/81/ef/6b/81ef6be2146d48c555df74e93a82ff9e.jpg" alt="">
            
            <h4>Posición corporal</h4>
            <p>La posición del cuerpo en el estilo de espalda es fundamental para una buena acción de brazos y piernas.</p>
            <p>La cabeza se mantendrá de manera que la superficie del agua esté al nivel de la nuca y justo por debajo de sus orejas o rozando el lóbulo de la oreja del nadador, o bien que la mirada se dirija con una inclinación de 45 grados con respecto a la superficie.</p>
            <p>El plano sagital de la cabeza siempre permanecerá perpendicular al agua a pesar del movimiento de rotación sobre el eje longitudinal.</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/f2PYVtCtvUE?controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <h4>Técnica</h4>
            <h5>Movimiento del brazo</h5>
            <h6>Acción de brazos:</h6>
            <p>Entrada:</p>
            <ul>
                <li>El brazo entra en el agua completamente extendido.</li>
                <li>El brazo entra sobre el hombro.</li>
                <li>Pequeña flexión de la muñeca para que la entrada de la mano se efectúe
antes que el brazo.</li>
               <li>Las palmas miran afuera, para facilitar una entrada limpia del brazo.</li>
               <li>El dedo meñique entra en primer lugar.</li>
            </ul>
            <p>Agarre:</p>
            <p>Es la preparación a la tracción en el que la mano se coloca en mejor
posición para una buena propulsión.</p>
            <ul>
                <li>La trayectoria de la mano es fundamentalmente abajo y afuera.</li>
                <li>El brazo permanece estirado.</li>
                <li>Mantener el brazo justo bajo la superficie.</li>
                <li>Mantener la muñeca firme.</li>
                <li>Mantener los dedos cerrados.</li>
                <li>La trayectoria de la mano es atrás y arriba.</li>
                <li>El codo se mantiene dirigido hacia el fondo.</li>
                <li>El codo alcanza su máxima flexión (90º) al llegar a la altura de los hombros.</li>
            </ul>
            <p>Empuje:</p>
            <ul>
                <li>Comienza a partir de la máxima flexión.</li>
                <li>La trayectoria de la mano será atrás y abajo.</li>
                <li>Aumento progresivo de la velocidad de la mano.</li>
                <li>La mano dirigirá el empuje.</li>
                <li>El empuje termina con la palma de la mano mirando hacia el muslo.</li>
            </ul>
            <p>Fase aérea o recobro:</p>
            <ul>
                <li>Comienza cuando la mano está en el muslo con el brazo estirado al lado
del cuerpo.</li>
                <li>Por acción del rolido, el hombro sale fuera del agua.</li>
                <li>El brazo extendido y la mano relajada. (en primer lugar sale el dedo
pulgar).</li>
                <li>Subimos la mano arriba y adelante por el plano perpendicular del hombro.</li>
                <li>Al pasar por la vertical del hombro-cabeza la palma de la mano mira afuera</li>
            </ul>









        </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
  
</html>