<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Main CSS -->
    <link rel="stylesheet" href="..\style.css">


    <title>SWIM SITE - Tu portal de natación favorito!</title>
  </head>
    <body>
        <header class="sticky-top">
        <div class="container">
            <div class="row">
                <img src="https://i.pinimg.com/originals/48/11/81/4811814896c06656e29ebf81ccd693ad.png" id="logo">
            </div>
        </div>
        <nav class="navbar  navbar-expand-sm bg-dark navbar-dark">
          <ul class="navbar-nav container">
            <li class="nav-item">
                <a class="nav-link" href="..\index.html">INICIO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="natacion.html">QUE ES LA NATACION?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="beneficios.html">BENEFICIOS DE LA NATACION</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">ESTILOS</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="crawl.html">CRAWL</a>
                    <a class="dropdown-item" href="pecho.html">PECHO</a>
                    <a class="dropdown-item" href="espalda.html">ESPALDA</a>
                    <a class="dropdown-item" href="mariposa.html">MARIPOSA</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="competencias.html">VIDEOS DE COMPETENCIAS</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">GALERIA DE IMAGENES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contacto.html">CONTACTO</a>
            </li>
        </ul>
    </nav>
    </header>
        <div class="container" id="main">
              <h3>Galeria de Imagenes</h3><hr>
                  <table class="table table-borderless" id="galeria">
                      <tr>
                          <td><img src="https://i.pinimg.com/564x/2a/c9/ba/2ac9ba4a11b2e36d0f92e667445d94c0.jpg" ></td>
                          <td><img src="https://i.pinimg.com/564x/60/4d/a6/604da6311ef99a799b657c5d75bd91e5.jpg" ></td>
                      </tr>
                      <tr>
                          <td><img src="https://i.pinimg.com/564x/db/26/8c/db268c51d8f7b0dd81631ec4ef35d801.jpg" ></td>
                          <td><img src="https://i.pinimg.com/564x/96/04/65/960465421755b3913873f8b27df02295.jpg" ></td>
                      </tr>
                      <tr>
                          <td><img src="https://i.pinimg.com/564x/d8/44/e8/d844e8e6ba1fb99258507c9f2d403306.jpg" ></td>
                          <td><img src="https://i.pinimg.com/564x/86/01/90/86019014eebd405ff55a200b24962068.jpg" ></td>
                      </tr>
                      <tr>
                          <td><img src="https://i.pinimg.com/564x/a1/d3/dc/a1d3dc4cd32fb2fd726f4dbab89850ca.jpg" ></td>
                          <td><img src="https://i.pinimg.com/564x/28/3a/b9/283ab9b62177c551f3ce439b285bd341.jpg" ></td>
                      </tr>
                  </table>
                   
        </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
  
</html>