<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Main CSS -->
    <link rel="stylesheet" href="..\style.css">


    <title>SWIM SITE - Tu portal de natación favorito!</title>
  </head>
    <body>
        <header class="sticky-top">
        <div class="container">
            <div class="row">
                <img src="https://i.pinimg.com/originals/48/11/81/4811814896c06656e29ebf81ccd693ad.png" id="logo">
            </div>
        </div>
        <nav class="navbar  navbar-expand-sm bg-dark navbar-dark">
          <ul class="navbar-nav container">
            <li class="nav-item">
                <a class="nav-link" href="..\index.html">INICIO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="natacion.html">QUE ES LA NATACION?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="beneficios.html">BENEFICIOS DE LA NATACION</a>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">ESTILOS</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="crawl.html">CRAWL</a>
                    <a class="dropdown-item" href="pecho.html">PECHO</a>
                    <a class="dropdown-item" href="espalda.html">ESPALDA</a>
                    <a class="dropdown-item active" href="#">MARIPOSA</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="competencias.html">VIDEOS DE COMPETENCIAS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="galeria.html">GALERIA DE IMAGENES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contacto">CONTACTO</a>
            </li>
        </ul>
    </nav>
    </header>
        <div class="container" id="main">
            <h3>estilo mariposa</h3><hr>
            <p>El estilo mariposa es un estilo de natación, una variación del estilo pecho o estilo braza, en la que ambos brazos se llevan juntos al frente por encima del agua y luego hacia atrás al mismo tiempo. El movimiento de los brazos es continuo y siempre va acompañado de un movimiento ondulante de las caderas, el cual nace al llevar para abajo la cabeza al momento de entrar al agua, y culmina con la patada, llamada delfín, es un movimiento descendente y brusco de los pies juntos.</p>
            
            <img src="https://i.pinimg.com/564x/3d/fb/2c/3dfb2c409100f30051f98f85eba71d69.jpg" alt="">
            <h4>Técnica</h4>
            <p>La técnica de nado mariposa consiste en el movimiento sincrónico del brazo con un sincrónico de las piernas. El movimiento de ola del cuerpo es también muy significativo, como es la clave a la recuperación sincrónico fácil y a la respiración sobre el agua. En la posición inicial el nadador debe flotar con los pies detrás de él y los brazos extendidos frente a él.</p>
            
            <iframe width="560" height="315" src="https://www.youtube.com/embed/YlhXuC25_L4?controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <h4>Competiciones</h4>
            <p>Hay tres distancias que se nadan habitualmente en mariposa, tanto en piscina de 50 metros como de 25 metros.</p>
            <ul>
            <li>50 m Mariposa</li>
            <li>100 m Mariposa</li>
            <li>200 m Mariposa</li>
            </ul>
            <p>La mariposa también es parte de las competiciones de nado por estilos en las siguientes distancias:</p>
            <ul>
            <li>100 m Estilos Individual (sólo en piscina de 25 metros)</li>
            <li>200 m Estilos</li>
            <li>400 m Estilos</li>
            <li>4x100 m Estilos</li>
            </ul>
            <h4>Reglas de Competencia FINA</h4>
            <ul>
                <li>En el comienzo de la primera brazada después de la partida y de cada vuelta, el cuerpo deberá mantenerse sobre el pecho. El nadador debe patear debajo del agua. Se permite patear de lado pero no está permitido estar de espalda en ningún momento durante la competencia.</li>
                <li>Los dos brazos deben estar sincronizados cuando los lanzas hacia adelante y cuando están debajo del agua.</li>
                <li>El movimiento de las piernas debe estar sincronizados. Las piernas y los pies tienen que estar al mismo nivel durante la carrera, pero pueden ser intercambiados en la relación. Una patada de Pecho no se permite.</li>
                <li>En las vueltas y en el final ambas manos deben tocar al mismo tiempo, deben estar al mismo nivel del agua o por debajo.</li>
                <li>A la salida y en las vueltas, el nadador puede dar mucha patadas por debajo del agua aunque solo puede hacer un brazada para ayudar a salir a la superficie. El nadador puede estar debajo del agua por una distancia de máxima de 15 metros después de las vueltas y la salida después de eso el nadador debe permanecer arriba de la superficie.</li>
                
            </ul>
                
        </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
  
</html>