<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Main CSS -->
    <link rel="stylesheet" href="..\style.css">


    <title>SWIM SITE - Tu portal de natación favorito!</title>
  </head>
    <body>
        <header class="sticky-top">
        <div class="container">
            <div class="row">
                <img src="https://i.pinimg.com/originals/48/11/81/4811814896c06656e29ebf81ccd693ad.png" id="logo">
            </div>
        </div>
        <nav class="navbar  navbar-expand-sm bg-dark navbar-dark">
          <ul class="navbar-nav container">
            <li class="nav-item">
                <a class="nav-link" href="..\index.html">INICIO</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">QUE ES LA NATACION?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="..\views\beneficios.html">BENEFICIOS DE LA NATACION</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">ESTILOS</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="crawl.html">CRAWL</a>
                    <a class="dropdown-item" href="pecho.html">PECHO</a>
                    <a class="dropdown-item" href="espalda.html">ESPALDA</a>
                    <a class="dropdown-item" href="mariposa.html">MARIPOSA</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="competencias.html">VIDEOS DE COMPETENCIAS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="galeria.html">GALERIA DE IMAGENES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contacto">CONTACTO</a>
            </li>
        </ul>
    </nav>
    </header>
        
        
        <div class="container" id="main">
              <h3>NATACION</h3><hr>

                <p>La natación es el movimiento y el desplazamiento a través del agua mediante el uso de las extremidades corporales y por lo general sin utilizar ningún instrumento o apoyo para avanzar, generalmente la natación se hace para recreación, deporte, ejercicio o supervivencia. Los seres humanos pueden contener la respiración bajo el agua y realizar natación locomotora rudimentaria, esto se puede hacer semanas después del nacimiento como una respuesta evolutiva.</p>

                <p>La natación es consistentemente una de las principales actividades recreativas públicas, y en algunos países, las lecciones de natación son una parte obligatoria del currículo educativo. Como un deporte formal, la natación tiene competencias locales, nacionales e internacionales, los Juegos Olímpicos son los más importantes donde la natación es una disciplina.</p>

                <h4>Ciencia</h4>

                <p>La natación se basa en la flotabilidad natural del cuerpo humano. En promedio, el cuerpo tiene una densidad relativa de 0,98 en comparación con el agua, que hace que el cuerpo flote. Sin embargo, la flotabilidad varía en función de la composición corporal y la salinidad del agua. Niveles más altos de densidad del cuerpo o agua más salada con un cuerpo de densidad menor hace que aumente su flotabilidad.</p>
                <img src="https://i.pinimg.com/564x/ad/b6/a0/adb6a01fcff9515cdb176179f0f84a36.jpg" alt="">

                <p>Puesto que el cuerpo humano solo es ligeramente menos denso que el agua, el agua soporta el peso del cuerpo durante la natación. Como resultado, la natación es un "impacto bajo" en comparación con las actividades que se pueden realizar en tierra como correr. La densidad y la viscosidad del agua también crean resistencia para objetos que se mueven a través del agua. Los movimientos que el cuerpo debe hacer para nadar aprovechan esta resistencia para crear propulsión, pero esta misma resistencia también genera resistencia en el cuerpo.</p>

                <p>La hidrodinámica es una importante técnica para nadar más rápido, es utilizado por nadadores que quieren nadar más rápido o reducir la fricción del movimiento del cuerpo a través del agua. Para ser más hidrodinámico, los nadadores pueden aumentar la potencia de sus golpes, o reducir la resistencia al agua, aunque la energía debe aumentar por un factor de tres para lograr el mismo efecto que reducir resistencia. La natación eficiente se puede lograr reduciendo la resistencia al agua, consiste en una posición horizontal en el agua, balanceo del cuerpo para reducir la amplitud del cuerpo en el agua y extendiendo los brazos tanto como sea posible para reducir la resistencia de onda.
                </p>

                <p>Justo antes de sumergirse en la alberca, los nadadores pueden realizar ejercicios tales como cuclillas. Ponerse en cuclillas ayuda a mejorar la salida de un nadador por calentamiento de los músculos del muslo.</p>

                <h4>Natación Infantil</h4>
                <p>Los bebés demuestran una natación innata y reflejos de buceos de recién nacidos hasta la edad de aproximadamente seis meses. Otros mamíferos también muestran este fenómeno (debido al Reflejo de inmersión mamífero). Los bebés inmersos en agua espontáneamente contienen su respiración, disminuyen su frecuencia cardiaca y reducen la circulación de sangre a las extremidades (dedos y dedos de los pies).</p>
                <p>Se puede apoyar la enseñanza con métodos pedagógicos como la motivación e incentivación. Contar con ellos, hacer juegos o crear didácticas a su nivel de comprensión para lograr mayores avances. Mayor efectividad con niños entre 2 a 4 años de edad.</p>
                <img src="https://i.pinimg.com/564x/8a/73/4b/8a734b882e9a70e91a4d7b96dba4c738.jpg" alt="">

                <h4>Técnica</h4>
                <p>La natación puede realizarse utilizando una amplia gama de estilos, conocida como "strokes", y estos movimientos se utilizan para diversos propósitos, o para distinguir entre las clases de natación competitiva. No es necesario utilizar un trazo definido para la propulsión en el agua, algunos nadadores inexpertos utilizan un "Nado estilo perro", este estilo se saca del movimiento de brazos y piernas, similar al que hacen los animales de cuatro patas al nadar.</p>
                
                <img src="https://i.pinimg.com/564x/16/09/5c/16095cb89f289ef63a44987c7b360a5d.jpg" alt="">

                <p>Hay cuatro movimientos principales que son utilizados en competiciones de natación y en actividades de recreación de natación: el crol o estilo libre, el estilo pecho (estilo braza), el estilo espalda y el estilo mariposa. La natación competitiva en Europa comenzó alrededor del año 1800, usando principalmente el estilo de brazada. En 1873, John Arthur Trudgen introdujo una técnica de natación llamada trudgen en competiciones de natación occidentales, el estilo crol fue copiado de los indios americanos, pero sustituyendo una patada de tijera por la tradicional patada aleteo que reducía las salpicaduras. El estilo mariposa se hizo en la década de los 30 y se introdujo en la misma década, era considerado una variante de la brazada hasta que en 1952 fue aceptada como un estilo separado. El estilo mariposa es para muchos el estilo más difícil, el estilo mariposa quema más calorías en comparación con los otros 3 estilos.</p>

                <p>Otros movimientos existen para propósitos específicos, tales como entrenamiento o rescate, y también es posible adaptar movimientos para evitar el uso de partes del cuerpo, ya sea para aislar ciertas partes del cuerpo, tales como nadar con solamente los brazos o las piernas, estos estilos se utilizan en su mayoría para hacer los entrenamientos más difíciles, o para personas con amputaciones o afectados por parálisis.</p>
          
        </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
  
</html>