<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Main CSS -->
    <link rel="stylesheet" href="..\style.css">


    <title>SWIM SITE - Tu portal de natación favorito!</title>
  </head>
    <body>
        <header class="sticky-top">
        <div class="container">
            <div class="row">
                <img src="https://i.pinimg.com/originals/48/11/81/4811814896c06656e29ebf81ccd693ad.png" id="logo">
            </div>
        </div>
        <nav class="navbar  navbar-expand-sm bg-dark navbar-dark">
          <ul class="navbar-nav container">
            <li class="nav-item">
                <a class="nav-link" href="..\index.html">INICIO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="natacion.html">QUE ES LA NATACION?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="beneficios.html">BENEFICIOS DE LA NATACION</a>
            </li>
            <li class="nav-item dropdown active">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">ESTILOS</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="crawl.html">CRAWL</a>
                    <a class="dropdown-item active" href="#">PECHO</a>
                    <a class="dropdown-item" href="espalda.html">ESPALDA</a>
                    <a class="dropdown-item" href="mariposa.html">MARIPOSA</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="competencias.html">VIDEOS DE COMPETENCIA</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="galeria.html">GALERIA DE IMAGENES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="contacto">CONTACTO</a>
            </li>
        </ul>
    </nav>
    </header>
        
        
        <div class="container" id="main">
             <h3>Estilo pecho</h3><hr>
             <p>El estilo pecho o estilo braza (brazada de pecho) es un estilo de natación. En este estilo, el nadador flota boca abajo, con los brazos apuntando al frente y ejecuta la siguiente secuencia: hace un círculo con los brazos, siempre debajo de la superficie del agua. Se encogen las piernas, con las rodillas adentro y luego se estiran con un impulso al tiempo que los brazos vuelven al frente verticalmente, momento en el cual comienza de nuevo todo el ciclo.</p>
             <img src="https://i.pinimg.com/564x/24/e8/c8/24e8c89360a7f13d8f7c1e94c3c95861.jpg">
             <p>El estilo pecho o estilo braza (brazada de pecho) es un estilo de natación. En este estilo, el nadador flota boca abajo, con los brazos apuntando al frente y ejecuta la siguiente secuencia: hace un círculo con los brazos, siempre debajo de la superficie del agua. Se encogen las piernas, con las rodillas adentro y luego se estiran con un impulso al tiempo que los brazos vuelven al frente verticalmente, momento en el cual comienza de nuevo todo el ciclo.</p>
             <p>El estilo se nada sobre el pecho y es el estilo natatorio recreativo más popular debido a su estabilidad y a la posibilidad de respirar o coger el aire una sola vez durante todo el proceso. En la mayoría de las clases de natación los principiantes aprenden primero el pecho o el crol (crol frontal o crawl).</p>
             <h4>Velocidad y ergonomía</h4>
             <p>El pecho o braza es el más lento de los cuatro estilos oficiales en la natación competitiva. Los nadadores más rápidos pueden nadar de pecho a una velocidad aproximada de 1,67 metros por segundo.</p>
             <p>El nado de braza/pecho requiere más fuerza y energía que cualquier otro estilo, incluyendo la mariposa. Además, el pecho o la braza requiere un mayor uso de los músculos de las piernas que el resto de los estilos.</p>
             <h4>Técnica de estilo pecho</h4>
             <p>El pecho empieza con el nadador tumbado sobre el agua boca abajo, con los brazos extendidos adelante y las piernas extendidas atrás.</p>
             <h4>Movimiento de los brazos</h4>
             <p>Los brazos se abren atrás hasta quedar en línea con los hombros, y se hace fuerza atrás produciendo el avance.</p>
             <iframe width="560" height="315" src="https://www.youtube.com/embed/MQKySt3het0?controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
             <h4>Movimiento de las piernas</h4>
             <p>El pecho también puede nadarse con la patada de delfín de la mariposa, aunque esto viola las reglas que establece la FINA. De todos modos, se permite una patada en la salida y en el viaje, teniendo en cuenta que es parte del movimiento natural del cuerpo.</p>
             <iframe width="560" height="315" src="https://www.youtube.com/embed/tfiSEI65vLA?controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
             <h4>Respiración</h4>
             <p>Hay que respirar con la boca sacando la cabeza en cada turno de la brazada.</p>
             <h4>Movimiento del cuerpo</h4>
             <p>El movimiento se inicia con el cuerpo completamente recto, el movimiento del cuerpo se coordina de tal manera que las piernas están listas para la fase de empuje, mientras que los brazos están a medio camino a través de la fase de tirón, y la cabeza está fuera del agua para la respiración. En esta posición, el cuerpo tiene también el ángulo más grande a la horizontal. Los brazos se recuperan durante la fase de empuje de las piernas. Después de la carrera el cuerpo se mantiene en la posición inicial durante algún tiempo para utilizar la fase de deslizamiento. Dependiendo de la distancia y de la aptitud de la duración de esta fase de deslizamiento varía. Por lo general, la fase de deslizamiento es más corta durante los sprints que durante la natación de larga distancia. La fase de deslizamiento es también más largo durante la carrera bajo el agua después de la salida y en cada turno.</p>
             <iframe width="560" height="315" src="https://www.youtube.com/embed/LRRC-JqrVI4?controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
             <h4>Inventa</h4>
             <p>La salida de pecho o braza es sobre una plataforma y se estira el cuerpo (45º) entrando al agua a través de un agujero imaginario creado por las manos. Al entrar al agua cambia la posición del cuerpo llevando las manos a las piernas y haciendo al tiempo una ondulación, luego se hace un estilo braza bajo el agua. Todos estos movimientos se realizan mientras el cuerpo se dirige hacia la superficie (el cuerpo está a 45º en dirección a la superficie).</p>
             <iframe width="560" height="315" src="https://www.youtube.com/embed/2_X40Oq5B_M?controls=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
             <h4>Viaje y llegada</h4>
             <p>La nueva normativa impuesta por la fina en octubre del 2013, obliga a tocar con ambas manos a la vez y realizar un viaje. Cuando el nadador llega a la pared, toca con las dos manos al tiempo y se voltea de medio lado, haciendo posición de flecha para sumergirse de nuevo en el agua, y hacer la doble deslizada que se hizo al principio de la prueba.</p>
             <p>En la llegada se toca con las dos manos al mismo tiempo obligatoriamente. (si no se toca con las dos manos al tiempo el nadador puede ser descalificado) Puede ser bajo la superficie, a la altura de la superficie o arriba de la superficie.</p>
             <h4>Estilos de pecho</h4>
             <p>Los tres estilos de pecho que se ven hoy son el convencional (plano), el ondulante y el ondulado. El estilo ondulante lo nadan generalmente chicas muy flexibles, y pocos Masters tienen la flexibilidad para practicarlo. El estilo ondulado, nadado y hecho famoso por Mike Barrowman cuando batió un récord del mundo usándolo, es ahora nadado generalmente por nadadores olímpicos, aunque generalmente es rechazado por los nadadores australianos.</p>
             <p>A propósito , el movimiento ondulado no debería ser sobre enfatizado y el nadador sólo debe levantarse hasta que el agua alcance sus bíceps, en vez de hacer elevar su torso entero por encima del agua, gastando una gran cantidad de energía.</p>

        </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
  
</html>